form.add-cocktail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
form.add-cocktail .one-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form.add-cocktail .ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}