<h2>Add a cocktail</h2>
<form class="add-cocktail" [formGroup]="cocktailForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" />
  <div class="one-input">
    <label>Name:</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="one-input">
    <label>Instructions:</label>
    <textarea formControlName="instructions"></textarea>
  </div>
  <div class="one-input">
    <label>Category:</label>
    <input type="text" formControlName="category" />
  </div>
  <div class="one-input">
    <label>Glass:</label>
    <input type="text" formControlName="glass" />
  </div>
  <div class="one-input">
    <label>Alcoholic:</label>
    <div>
      <input type="checkbox" formControlName="alcoholic" /><span>True</span>
    </div>
  </div>
  <div class="one-input">
    <label>Image URL:</label>
    <input type="text" formControlName="imageURL" />
  </div>
  <div class="ingredients" formArrayName="ingredients">
    <div
      *ngFor="
        let ingredient of cocktailForm.get('ingredients')?.value;
        let i = index
      "
    >
      <div class="ingredient" [formGroupName]="i">
        <!-- <label>Ingredient ID:</label> -->
        <input type="hidden" formControlName="id" />
        <div class="one-input">
          <label>Ingredient Name:</label>
          <div class="ing">
            <input type="text" formControlName="name" />
            <button
              class="remove"
              type="button"
              (click)="removeIngredientFormGroup(i)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="add" type="button" (click)="addIngredientFormGroup()">
      Add Ingredient
    </button>
  </div>
  <button type="submit">Submit</button>
</form>
