.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #ffffff;
    border-bottom: 1px solid #e9e7e7;
}
.header #logo {
    height: 60px!important;
} 
 .header .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.header .menu li:not(:last-child) {
    margin-right: 30px;
}
.header .menu li a{
    color: #050533;
}
.header .menu li a:link { text-decoration: none; }

.header .menu li a:visited { text-decoration: none; }

.header .menu li a:hover { color: rgb(238, 42, 123); }

.header .menu li a:active { text-decoration: none; } 