
.cocktails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
tile-cocktail {
    width: 30%;
    background-color: mistyrose;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: auto;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
}