<div class="one-cocktail">
  <div class="edit-delete-button">
    <a [routerLink]="['/edit', cocktail.id]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pencil"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.146 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-9 9a.5.5 0 0 1-.35.146H2.5a.5.5 0 0 1-.5-.5V12a.5.5 0 0 1 .146-.35l9-9zM11 3l2 2-9 9H3v-1l9-9zM3 13v-2h2l-2 2z"
        />
      </svg>
      <svg
        (click)="deleteCocktail(cocktail.id)"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </a>
  </div>
  <h3>
    <span class="num"> {{ cocktail.id }}</span> {{ cocktail.name }}
  </h3>
  <p><span class="label">Instructions:</span> {{ cocktail.instructions }}</p>
  <p><span class="label">Category:</span> {{ cocktail.category }}</p>
  <p><span class="label">Type of glass:</span> {{ cocktail.glass }}</p>
  <p><span class="label">Alcoholic:</span> {{ cocktail.alcoholic }}</p>
  <img [src]="sanitizer.bypassSecurityTrustUrl(cocktail.imageURL)" />

  <h4>Ingredients:</h4>
  <ul class="ingredients">
    <li *ngFor="let ingredient of cocktail.ingredients">
      {{ ingredient.id }} - {{ ingredient.name }}
    </li>
  </ul>
</div>
